HOME                        = .

openssl_conf                = default_modules

###############################################################################
# YubiHSM2 enabeting

[default_modules]
engines                     = engine_section

[engine_section]
pkcs11                      = pkcs11_section

[pkcs11_section]
engine_id                   = pkcs11
MODULE_PATH                 = /usr/lib64/pkcs11/yubihsm_pkcs11.so
INIT_ARGS                   = connector=http://127.0.0.1:12345 debug
PIN                         = "0002password2"
init                        = 0

###############################################################################


[ ca ]
default_ca                  = CA_default

[ CA_default ]
dir                         = /srv/pki/var/hsm-root-ca-01.dum.my
certs                       = $dir/certs
crl_dir                     = /srv/pki/var/html
database                    = /srv/pki/var/hsm-root-ca-01.dum.my/index
new_certs_dir               = /srv/pki/var/html
certificate                 = /srv/pki/var/ca/hsm-root-ca-01.dum.my.crt.pem
serial                      = /srv/pki/var/hsm-root-ca-01.dum.my/serial
crlnumber                   = $dir/crlnumber
crl                         = $dir/crl.pem
private_key                 = /srv/pki/var/hsm-root-ca-01.dum.my/private/hsm-root-ca-01.dum.my.key.pem
x509_extensions             = usr_cert
name_opt                    = ca_default
cert_opt                    = ca_default
default_days                = 365
default_crl_days            = 30
default_md                  = sha256
preserve                    = no
policy                      = policy_match
email_in_dn                 = no
rand_serial                 = no

[ policy_match ]
countryName                 = match
stateOrProvinceName         = match
organizationName            = match
organizationalUnitName      = optional
commonName                  = supplied
emailAddress                = optional

[ policy_anything ]
countryName                 = optional
stateOrProvinceName         = optional
localityName                = optional
organizationName            = optional
organizationalUnitName      = optional
commonName                  = supplied
emailAddress                = optional

[ req ]
prompt                      = no
default_bits                = 4096
default_md                  = sha256
default_keyfile             = privkey.pem
distinguished_name          = req_distinguished_name
attributes                  = req_attributes
x509_extensions             = v3_ca
string_mask                 = utf8only
req_extensions              = v3_req

[ req_distinguished_name ]
countryName                 = DE
stateOrProvinceName         = Dummyfild
localityName                = Dummy Town
organizationName            = Dummy GmbH
organizationalUnitName      = Security department
commonName                  = issue-ca.org
emailAddress                = ca-admin@dum.my

[ req_attributes ]
unstructuredName            = An optional company name

[ usr_cert ]
basicConstraints            = critical,CA:true,pathlen:5
nsComment                   = "OpenSSL Generated Certificate"
subjectKeyIdentifier        = hash
authorityKeyIdentifier      = keyid,issuer

[ v3_req ]
basicConstraints            = critical,CA:true,pathlen:5
keyUsage                    = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
subjectKeyIdentifier        = hash
authorityKeyIdentifier      = keyid:always,issuer
basicConstraints            = critical,CA:true


[ crl_ext ]
authorityKeyIdentifier      = keyid:always


